a{
color: brown;
text-decoration: none;

}
a:hover{
    color: white;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: blanchedalmond;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 1rem;
}

footer{
    background-color: black;
    color: white;
    font-size:  .9em;
    padding: 1.11em 0;
}

.blog-post header{
text-align: center;
margin-top: 4em;
}
.blog-post .category{
    text-transform: uppercase;
}

.blog-post .title{
    text-transform: capitalize;
}

.blog-post .image{
    margin: 2em 0;
}

.blog-post .subtitle {
    margin-top: 2em;
}

.blog-post .summary{
    padding-left: 40px;

}


.blog-post .summary li{
    margin-top: 1rem;
}


.rounded-image img{
    display: block;
    width: 100%;
    border-radius: 8px;
}



.button{
background-color: black;
padding: .5em .75em;
border: none;
border-radius:  .25em;
color: white;



}

.button:hover{
    background-color: aquamarine;
    color: white;
}
.navbar{
    border-bottom: 1px solid purple;
    padding: .5em;
}
.navbar .container{
    display: flex;
  justify-content: space-between;
align-items: center;
}
.navbar-nev{
    display: flex;
    list-style: none;
    padding: 0;

}.nav-item{
    padding: .5em;
    margin: 0 .5em;

}
.contact-form label,
.contact-form input,
.contact-form select,
.contact-form textarea {
    display: block;
    width: 100%;

}
.contact-form label{
    margin-bottom: 0.5em;

}

.contact-form input,
.contact-form select,
.contact-form textarea{
    border: 1px solid black;
    padding: .5em;
    border-radius: 8px;

}
.contact-form :invalid{
    border-color: red;
    color: red;
}
.contact-form :invalid::placeholder{
    color: red;

}
.contact-form button{
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    padding: .8em;

}
.contact-form button.clear{
    background-color: red;
}
.contact-form button.clear:hover{
    background-color: rgb(94, 37, 37);
}
.contact-details hr{
    border: none;
    border-top: 1px solid black;
}